.header {
    background: rgba(19, 21, 22, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    height: 60px;
    display: flex;
    align-items: center;
    width: 100vw; /* Ensure header width is 100% of the viewport */
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it is above other content */
}

.header-content {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #f1f1f1;
    text-align: left;
}

.header-text:hover {
    color: #00FFFF; /* Change text color to blue on hover */
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #e9e9e9;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for dynamic effect */
    position: relative; /* Add relative positioning */
}

.header-nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; /* Adjust as needed */
    width: 0;
    height: 2px; /* Adjust height as needed */
    background-color: #00FFFF;
    transition: width 0.3s ease, left 0.3s ease; /* Add transition for dynamic effect */
}

.header-nav a:hover::after {
    width: 100%;
    left: 0;
}

.header-nav a:hover {
    color: #00FFFF; /* Change text color to blue on hover */
    transform: scale(1.1); /* Add dynamic effect on hover */
}

.header-menu {
    display: none;
}

@media (max-width: 768px) {
    .header {
        padding: 0 1rem; /* Adjust padding for smaller screens */
    }

    .header-content {
        padding: 0 1rem; /* Adjust padding for smaller screens */
    }

    .header-text {
        font-size: 24px;
    }

    .header-nav {
        display: none;
    }

    .header-menu {
        display: block;
    }
}