.resume-section {
  padding: 1.5rem;
  background: transparent; /* Make background transparent */
  border-radius: 10px;
}

.resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.resume-main-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.resume-quote {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}

.resume-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .resume-content {
    grid-template-columns: 1fr 1fr;
  }
}

.resume-card {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

.resume-year {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 36px;
  color: #00FFFF;
}

.resume-card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #f1f1f1;
}

.resume-card-company-location {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.resume-card-description {
    font-family: 'Poppins', sans-serif; /* Set font to Poppins */
    font-weight: 400;
    font-size: 16px;
    color: #999;
    display: inline-block;
    text-align: left;
}

.resume-download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-primary {
  background-color: #00FFFF;
  color: black;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 140px; /* Fixed width */
  height: 40px; /* Fixed height */
  font-size: 14px; /* Fixed font size */
  display: flex;
  align-items: center;
  justify-content: center; /* Center text */
}

.button-primary:hover {
  background-color: #008080;
  transform: scale(1.05);
}
