.skills-section {
  padding: 40px 20px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.skills-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 56px;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.skills-quote {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  margin-bottom: 40px;
}

.skills-category {
  margin-bottom: 30px;
}

.skills-category-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #00FFFF;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f1f1f1;
}

.skill-percentage {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f1f1f1;
}

.skill-bar {
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  background-color: rgba(0, 255, 255, 100); /* Adjust opacity */
  transition: width 0.3s ease;
}
