#responsive_content {
    background-color: transparent;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    font-weight: 500;
    color: #00FFFF;
    text-decoration: inherit;
}
a:hover {
    color: #00FFFF;
}

body {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    background-color: #131516;
    overflow: auto; /* Allow scrolling */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 14px; /* Fixed font size */
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 140px; /* Fixed width */
    height: 40px; /* Fixed height */
}
button:hover {
    border-color: #00FFFF;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 1024px) {
    #responsive_content {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    #responsive_content {
        width: 100%;
        padding: 10px;
        box-shadow: none;
        border-radius: 0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #f1f1f1;
        background-color: #131516;
    }
    a:hover {
        color: #00FFFF;
    }
    button {
        background-color: #f9f9f9;
    }
}
